body {
    background-color: rgb(60, 60, 60);
}

.p1 {
    text-align: center;
    padding: 300px 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 23px ;
    font-weight: lighter;
    color: rgb(70, 182, 252);
}

.dbutton {
    text-align: right;
    text-decoration: none;
    
}

.button {
    background-color: rgb(60, 60, 60);
    border: none;
    width: 80px;
    height: 20px;
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;

}

#link {
    text-decoration: none;
    color: inherit;
    color: white;
}